.sign_in_container {
    text-align: center;
}

.sign_in_title {
    color: #2e2e2e;
    font-family: 'Cormorant Garamond';
    font-weight: 100;
    font-size: 800%;
    margin-top: 4%;
}

.sign_in_form_container {
    margin-top: 6%;
}