.space_container {
    display: flex;
    justify-content: center;
    background-color: #f2f0e3;
    height: 100vh;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 #f2f0e3;
}

.space_bar {
    display: flex;
    flex-direction: column;
    flex: 0.1;
    overflow: hidden;
}

.bar_separator {
    width: 100%;
    height: 0.18%;
    background-color: #2e2e2e2b;
}

.return_button {
    display: flex;            
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    
    width: 100%;
    padding: 10px 16px;
    
    border: 0;
    background-color: #f2f0e3;
    cursor: pointer;
}

.icon {
    color: #666771;
    transition: color 0.3s ease; 
    display: block;
}

.return_button:hover .icon {
    color: #2f3035;
}

.bar_header {
    display: flex;
    flex: 0.3;
    justify-content: center;
    align-items: center;
}

.list_container {
    flex: 3;
    min-height: 0;
}

.list_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    padding-left: 5%;
    overflow-y: auto;
}

.page_separator {
    width:0.1%;
    height: 100vh;
    background-color: #2e2e2e2b;
}

.home_space_info {
    flex: 2;
    height: 100%;
    overflow-y: auto;
}
