.error_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error_title {
    font-family: 'Cormorant Garamond';
    font-weight: 100;
    line-height: 1.8;
    font-size: 800%;
    color:#f47e60;
}

.error_message {
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 1.8;
    margin-top: 0%;
    color: #2e2e2e;
}
