services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "${APP_PORT}:${APP_PORT}"
    networks:
      - app_net
    depends_on:
      - db
    env_file:
      - ./.env 
  db: 
    image: postgres:16
    networks:
      - app_net
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - "db_data:/var/lib/postgres/data"

networks:
  app_net:

volumes:
  db_data: