.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 36px;
    gap: 10px;
}

.separator {
    width: 680px;
    height: 2px;
    background-color: #2e2e2e2b;
    margin: 24px auto;
    opacity: 0.3;
}

.title {
    font-family: 'Ubuntu';
    font-size: 26px;
    color: #2f3035;
    margin-bottom: 40px;
}