* {
    margin: 0;
    box-sizing: border-box;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    height: 100vh;   
    margin-top: 120px;
}

.main_title {
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 800%;
    color: #2e2e2e;
}

.main_content {
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 1.8;
    margin-top: 4%;
    color: #2e2e2e;
}

.main_button_bar {
    display: flex;
    gap: 26px;
    margin-top: 4%;
}

.support_button {
    background:#e6e4d7 !important;
    color:#2e2e2e !important;
}