* {
    margin: 0;
    box-sizing: border-box;
}

.header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    font-family: 'Ubuntu';
    font-size: 8px;
    
    padding-top: 30px;
}

.header_line_logo {
    width: 20%;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    height: 100vh;   
    margin-top: 8%;
}

.main_title {
    font-family: 'Cormorant Garamond';
    font-weight: 100;
    font-size: 800%;
}

.main_content {
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 1.8;
    margin-top: 4%;
}

.main_button_bar {
    display: flex;
    gap: 26px;
    margin-top: 4%;
}