* {
    margin: 0;
    box-sizing: border-box;
}

.main_page_modal {
    text-align: center;
    margin-top: 10%;
}

.modal_titile {
    font-family: 'Cormorant Garamond';
    font-weight: 100;
    font-size: 800%;
}

.modal_content {
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 1.8;
    margin-top: 8%;
}

.modal_link {
    display: inline-block;

    font-family: 'Ubuntu';
    font-size: 18px;
    
    color:#f47e60;
    margin-top: 8%;

    text-decoration: underline;
    cursor: pointer;
}

.header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    font-family: 'Ubuntu';
    font-size: 8px;
    
    padding-top: 30px;
}

.header_line_logo {
    width: 20%;
}

.main_page_container {
    width: 100%;
    min-height: 100vh;
    background-color: #f2f0e3;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    height: 100vh;   
    margin-top: 8%;
}

.main_title {
    font-family: 'Cormorant Garamond';
    font-weight: 100;
    font-size: 800%;
}

.main_content {
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 1.8;
    margin-top: 4%;
}

.main_button_bar {
    display: flex;
    gap: 26px;
    margin-top: 4%;
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;

    background-color: #2e2e2e;
    color: #f2f0e3;

    padding: 4%;
}
