.input {
    font-family: 'Ubuntu';
    font-weight: 100;
    font-size: 16px;
    
    background-color: #e6e4d7;
    
    outline: none;
    padding: 16px 28px;

    border-radius: 12px;
    border: none;
}