.input {
    font-family: 'Ubuntu';
    font-weight: 100;
    font-size: 16px;
    
    background-color: #f2f0e3;
    outline: none;
    padding: 16px 28px;

    border-radius: 12px;
    border: 2px solid #2e2e2e;
}