.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    width: 300px; 
    height: 200px; 
    border: 2px solid #2e2e2e;
    border-radius: 12px;

    padding: 0 15px;
    margin-bottom: 36px;

    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.container:hover {
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.delete_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    
    width: 30px;
    height: 30px;
    
    border: none;
    background: none;
    color: #2e2e2e;
    font-size: 24px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;
    z-index: 20;
}

.title {
    font-family: 'Ubuntu';
    font-weight: 100;
    font-size: 26px;
    color: #2f3035;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.info {
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 400;
    color: #555;

    max-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.first_part {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second_part {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    flex: 1;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #2e2e2e;
}

