.form_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.form_input {
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: border-color 0.5s, color 0.5s;
}