.modal_container {
    background-color: #2e2e2e2b;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 

    z-index: 9999;
}

.modal_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    
    width: 80%;
    height: 94vh;

    background-color: #f2f0e3;
    border-radius: 8px;
}

.modal_button {
    width: 50px;
    height: 50px; 
    font-size: 20px;

    background-color: #f2f0e3;
    
    padding: 6px 9px;
    border-radius: 50%;
    border: none;
    
    position: absolute;
    top: 60px;           
    right: 60px;         
    z-index: 9999;      
    
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.modal_button:hover {
    transform: scale(1.09);
}