.home_container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f2f0e3;
}

.home_space_bar {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.bar_separator {
    width: 100%;
    height: 0.14%;
    background-color: #2e2e2e2b;
}

.bar_header {
    display: flex;
    flex: 0.3;
    align-items: center;
    
    padding-left: 5%;
    padding-right: 5%;
}

.list_container {
    display: flex;
    flex: 3;
    flex-direction: column;
    text-align: start;
    padding-top: 5%;
    min-height: 0;
}

.list_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
}

.list {
    padding-left: 5%;
    overflow-y: auto;
}

.list_title {
    font-family: 'Ubuntu';
    font-size: 16px;
    color: #666771;
    user-select: none;
}

.add_space_button {
    font-family: 'Ubuntu';
    font-size: 40px;
    cursor: pointer;

    padding: 6px 16px;
    border: none;
    
    background-color: #f2f0e3;
    color: #666771;
}

.add_space_button:hover {
    color: #2f3035;
}

.search_input {
    align-self: center;
    width: 92%;
    padding: 12px 24px;
}

.home_separator {
    width:0.1%;
    height: 100vh;
    background-color: #2e2e2e2b;
}

.home_space_info {
    flex: 2;
}

.profile_container {
    flex-shrink: 0;
    flex: 0.3;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.profile_info {
    font-family: 'Ubuntu';
    color: #666771;
    user-select: none;
}

.profile_info_title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #2f3035;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.profile_info_email {
    font-size: 13px;
    font-weight: 400;
    margin: 2px 0 0 0;
    opacity: 0.8;
    color: #555;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.setting_button {
    background:#e6e4d7 !important;
    color:#2e2e2e !important;
}

.setting_button:hover {
    background:#dad8cc !important;
    color:#2e2e2e !important;
}