.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    margin: 36px 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: auto;
    min-height: 200px;
    padding: 20px;
    box-sizing: border-box;

    width: 800px;
    height: 200px;

    border-radius: 12px;
    border: 2px #2e2e2e solid;
}

.title {
    word-wrap: break-word;
    text-align: center;
    width: 100%;
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 48px;
    font-size: 100;
    color: #2e2e2e;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}

.input_container {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
