.container {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    margin-bottom: 15px;

    background-color: #f2f0e3;
    border: 2px solid #2e2e2e;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.title {
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #2f3035;
    
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.info {
    font-family: 'Ubuntu';
    font-size: 13px;
    font-weight: 400;
    margin: 2px 0 0 0;
    opacity: 0.8;
    color: #555;
    
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
