.sign_up_container {
    text-align: center;
}

.sign_up_title {
    color: #2e2e2e;
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 800%;
    margin-top: 4%;
}

.sign_up_form_container {
    margin-top: 6%;
}