.button {
    font-family: 'Ubuntu';
    font-weight: 100;
    font-size: 16px;

    min-width: 130px; 
    padding: 16px 28px;
    margin: 0;

    background: #2e2e2e;
    color: #f2f0e3;

    border-radius: 12px;
    border: none;

    flex-shrink: 0;
    position: relative;
    z-index: 1;

    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.button:hover {
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}