.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    padding: 0 10px;
    gap: 8px;
    width: 100%;
}

.input_container {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 30px;
    margin-top: 36px;
}
