.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-family: 'Cormorant Garamond';
    font-weight: 100;
    font-size: 200%;
    color: #2e2e2e;
}