.members_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 36px;
}

.empty_list {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Ubuntu';
    font-size: 22px;
    color: #666771;
    user-select: none;
}