.modal_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 100%;
}

.info_container {
    display: flex;
    justify-content: space-around;
    gap: 150px;
    
    font-family: 'Ubuntu';
    font-size: 18px;
    color: #2e2e2e;
}

.input_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    font-family: 'Ubuntu';
    font-size: 18px;
    color: #2e2e2e;
}

.separator {
    height: 2px;
    width: 80%;
    background-color: #2e2e2e2b;
}
