.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.modal_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40%;
}

.action_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.error {
    color: #e53935;
    border: 2px solid #e53935;
}

.modal_button {
    font-family: 'Ubuntu';
    font-size: 26px;
    background-color: #f2f0e3;
    border: none;
    color: #2e2e2e2b;
}

.modal_button:hover {
    color: #666771;
}

.active_button {
    color: #666771;    
    text-decoration: underline;
    text-decoration-color: #666771;
    text-decoration-thickness: 2px; 
}

.modal_input {
    width: 100%;
    padding: 12px 24px;
}
