.support_page_modal {
    text-align: center;
}

.support_titile {
    color: #2e2e2e;
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 800%;
    margin-top: 4%;
}

.support_content {
    color: #2e2e2e;
    font-family: 'Ubuntu';
    font-size: 18px;
    line-height: 1.8;
    margin-top: 6%;
}

.support_link {
    display: inline-block;

    font-family: 'Ubuntu';
    font-size: 18px;
    
    color:#f47e60;
    margin-top: 4%;

    text-decoration: underline;
    cursor: pointer;
}
