.auth_container {
    display: flex;
    height: 100vh;
    background-color: #f2f0e3;
    /* background-image: url('../../images/The\ Apotheosis\ of\ Hercules.jpg');
    background-size: cover; 
    background-position: center; */
}
